body {
  margin: 0;
}
html {
  box-sizing: border-box;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.clear-both {
  clear: both;
}

/* Heading */
.heading-content {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-content .heading-icon {
  font-size: 16px;
  border-radius: 50%;
  background-color: #002147;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  margin-right: 6px;
}
.heading-content .heading-icon i {
  color: #ddb30c;
}

.heading-content .heading-name {
  display: inline;
}

.heading-list {
  padding-left: 8px;
}

.heading-item {
  list-style: none;
  display: inline;
}

.heading-link {
  text-decoration: none;
  color: #4c4e5a;
  padding: 0 12px;
  font-weight: 600;
}
/* End heading */

/* Carousel */
#Carousel {
  background-image: url(./Images/2.jpg);
  background-size: cover;
  height: 600px;
}
/* End Carouel */

/* Container */
.container-content {
  padding-top: 54px;
}

.container-content-left {
  width: 50%;
  float: left;
}
.container-content-right {
  width: 50%;
  float: left;
  padding-left: 34px;
  box-sizing: border-box;
}
.container-content-right-img {
  width: 100%;
}

.container-content-left p {
  color: #989898;
}

.container-content-left h4 {
  margin-top: 0;
  font-size: 22px;
}

.container-content-left-btn {
  background-color: #fdc800;
  color: #1a3241;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 16px;
}

/* End Container */

/* Number */
#number {
  background-color: #f6f6f6;
  margin-top: 36px;
}

.number-CSS-public {
  float: left;
  width: 25%;
}

.number-item-left-CSS-public {
  float: left;
  width: 30%;
  text-align: center;
}

.number-item-left-CSS-public h3 {
  font-size: 56px;
  line-height: 56px;
}

.number-item-right-CSS-public {
  float: left;
  width: 70%;
}

.number-item-right-CSS-public p {
  margin: 68px 10px 10px 10px;
}
/* End number */

/* List-icon */
.list-content {
  margin: 68px auto;
}

.list-item-icon {
  width: 25%;
  float: left;
  box-sizing: border-box;
}
.list-item-top-icon {
  padding: 0 5px;
}
.list-item-content-icon {
  background-color: #002147;
  color: white;
  text-align: center;
  font-size: 32px;
  border-radius: 4px;
  padding: 36px 32px;
}
.list-item-icon {
  padding: 10px;
  border-radius: 2px;
}

.list-item-text {
  margin: 10px 0 0 0;
}
/* End List icon */

/* Course */
#course {
  background-color: #f6f6f6;
  padding: 62px 0 106px;
}

.course-content-left-parent {
  width: 50%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

.course-content-right-parent {
  width: 50%;
  float: left;
  padding-left: 20px;
  box-sizing: border-box;
}

.course-content-left-text {
  font-size: 32px;
}

.course-content-list-left {
  background-color: white;
  padding: 20px;
}

.course-content-list-item-left-img {
  float: left;
  width: 40%;
}

.course-content-list-item-left-img img {
  width: 90%;
  border-radius: 4px;
}

.course-content-list-item-left-text {
  float: left;
  width: 60%;
  box-sizing: border-box;
  padding-left: 4px;
}

.course-content-item-heading-title {
  margin: 0;
  font-size: 22px;
}

.course-content-item-date {
  color: #b7b7b7;
  font-size: 14px;
  margin: 10px 0;
}

.course-content-list-item-center {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 20px 0px;
  margin: 20px 0;
}
.course-content-item-text {
  color: #838383;
}

.course-btn {
  background-color: #fdc800;
  color: #1a3241;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 16px;
  float: right;
}

.course-content-title {
  font-size: 32px;
}

.course-content-right-top,
.course-content-right-bottom {
  background-color: white;
  padding: 20px;
}

.course-content-right-bottom {
  margin-top: 24px;
}

.course-content-right-date {
  float: left;
  width: 20%;
}

.course-content-right-content {
  float: left;
  width: 80%;
  padding-left: 20px;
  box-sizing: border-box;
}

.course-content-right-date {
  text-align: center;
  background-color: #fdc800;
  border-radius: 4px;
  padding-top: 8px;
}
.course-content-right-date h3 {
  color: #1f202d;
  font-size: 34px;
  margin: 0;
  line-height: 34px;
}

.course-content-right-date p {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 600;
}

.course-content-right-date span {
  background-color: #002147;
  color: white;
  display: block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 36px;
  line-height: 36px;
}

.course-content-right-content h6 {
  margin: 0;
  font-size: 22px;
}

.course-content-item-right-date,
.course-content-item-right-location {
  list-style: none;
  color: #314b69;
  display: inline;
  font-weight: 600;
}

.course-content-item-right-location {
  border-left: 1px solid #efefef;
  margin-left: 8px;
  padding-left: 8px;
}

/* End Course */

/* Footer */
#footer {
  background-color: #002146;
}

.footer-content {
  padding-bottom: 22px;
}

.footer-contact,
.footer-featured {
  float: left;
  width: 30%;
}

.footer-featured {
  padding-left: 58px;
  box-sizing: border-box;
}

.footer-quick {
  float: left;
  width: 40%;
  box-sizing: border-box;
  padding-left: 94px;
}

.footer-contact,
.footer-featured,
.footer-quick {
  color: white;
}

.footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer-list {
  padding: 0;
  list-style: none;
}

.footer-item {
  margin-top: 10px;
}
.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link-phone {
  margin-bottom: 16px;
  display: block;
}

.footer-contact-item-icon {
  color: #f4c203;
  width: 20px;
}

.footer-bottom {
  border-top: 1px solid #2a323c;
  margin-top: 14px;
  padding: 14px 0 24px;
  color: white;
  font-weight: 500;
}

/* End */
